.myFooter {
  background-color: #77091c;
  margin-top: 100px;
  margin-bottom: 0;
}

.myFooterA {
  color: lightgray;
  text-decoration: none;
}
.myFooterA:hover {
  color: white;
  text-decoration: underline;
}

.myFooterLisance {
  color: lightgrey;
}
